---
import Layout from "../layouts/layout.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";
---

<Layout title="Carlos Reyes Blog">
    <Header />
    <main class="h-[94vh] grid place-items-center bg-black">
        <Container>
            <h1 class="text-center text-3xl text-white">Proximamente...</h1>
        </Container>
    </main>
</Layout>