---
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/layout.astro";
---

<Layout>
  <Header />
  <Main />
  <section class="about">
	<h2>About</h2>
  </section>
</Layout>

