<section class="about grid place-items-center py-20" id="About">
	<div class="mycontainer max-w-[900px] m-auto">
		<h2 class="text-center font-bold text-4xl">About Me</h2>

		<div class="grid grid-cols-1 gap-10 mt-10 place-items-center md:grid-cols-2">
			<div class="cuadrado h-[300px] w-[300px] md:w-[400px] md:h-[400px]"></div>
			<div class="description text-center">
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nihil molestias dolore, iusto perferendis unde dolores ea optio expedita distinctio accusantium, incidunt quibusdam ut tempore veniam dicta iure magni accusamus!
				Veritatis cum cupiditate voluptas tenetur quidem laborum commodi, cumque totam molestiae possimus nesciunt perspiciatis soluta eos provident sed eaque architecto quisquam beatae laudantium vitae assumenda sequi enim.</p>
			</div>
		</div>
	</div>
  </section>

<style>
	.cuadrado {
		background-image: url(../../public/hero.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>