<section class="about grid place-items-center py-20" id="About">
	<div class="container max-w-[900px] m-auto">
		<h2 class="text-center font-bold text-4xl">Sobre Mi</h2>

		<div class="grid grid-cols-1 gap-10 mt-10 place-items-center md:grid-cols-2">
			<div class="cuadrado h-[300px] w-[300px] md:w-[400px] md:h-[400px]"></div>
			<div class="description text-center md:text-left">
				<p>Soy un joven desarrollador web con una pasión incansable por crear sitios web rápidos, escalables y siguiendo las mejores prácticas. Cuento con 19 años y manejo un Stack MERN con soltura y estoy constantemente en búsqueda de nuevos conocimientos para mejorar mis habilidades. Pienso que la mejor forma de aprender es poner en practicas las cosas aprendidas es por eso que en este portafolio encontraras algunos de los proyectos con los que he practicado.<br><br>Estoy disponible a nuevas oportunidades laborales en las que pueda demostrar mi talento y dedicación.</p>
			</div>
		</div>
	</div>
  </section>

<style>
	.cuadrado {
		background-image: url(/hero.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>