---
import ContactForm from "./ContactForm";
import Container from "./Container.astro";
---


<section class="bg-black py-20">
    <Container>
        <h2 class="text-white font-bold text-4xl mb-20 text-center">Interesado en Contatratarme?</h2>
        <ContactForm />
    </Container>
</section>