---
import { ContactCard } from "./ContactCard";
import { ContactForm } from "./ContactForm"
import Container from "./Container.astro";
---

<section class="bg-black py-20" id="Contacto">
  <Container>
    <h2 class="text-white font-bold text-4xl mb-20 text-center">
      Interesado en Contatratarme?
    </h2>
    <div class="md:flex md:items-center justify-center md:gap-20">
      <ContactForm client:visible />
      <ContactCard client:visible/>
    </div>
  </Container>
</section>
