---
const menu = [
  {
    title: "About",
  },
  {
    title: "Proyectos",
  },
  {
    title: "Blog",
  },
  {
    title: "Contacto",
  },
];
---

<nav class="hidden md:block">
  <ul class="flex gap-4">
    {
      menu.map(({ title }) => (
        <li class="hover:bg-black hover:text-white p-2 rounded-lg transition-all">
          <a href="#">{title}</a>
        </li>
      ))
    }
  </ul>
</nav>
