---
import 'atropos/css'
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content="Carlos Reyes Portafolio Web Frontend Developer">
		<meta name="description" content="Soy un joven desarrollador web con una pasión incansable por crear sitios web rápidos, escalables y siguiendo las mejores prácticas, Manejo un Stack MERN y estoy constantemente en búsqueda de nuevos conocimientos para mejorar mis habilidades.
		Estoy disponible a nuevas oportunidades laborales en las que pueda demostrar mi talento y dedicación.">
		<meta name="keywords" content="desarrollo, web, astro, frontend, react, portafolio, javascript">
		<meta name="author" content="Carlos Reyes">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://portfolio-escarcan.vercel.app/">
		<meta property="og:title" content="Carlos Reyes Portafolio Web Frontend Developer">
		<meta property="og:description" content="Soy un joven desarrollador web con una pasión incansable por crear sitios web rápidos, escalables y siguiendo las mejores prácticas, Manejo un Stack MERN y estoy constantemente en búsqueda de nuevos conocimientos para mejorar mis habilidades.
		Estoy disponible a nuevas oportunidades laborales en las que pueda demostrar mi talento y dedicación.">
		<meta property="og:image" content="https://i.postimg.cc/QxQCnM5q/Screenshot-select-area-20230218010423.png">
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://portfolio-escarcan.vercel.app/">
		<meta property="twitter:title" content="Carlos Reyes Portafolio Web Frontend Developer">
		<meta property="twitter:description" content="Soy un joven desarrollador web con una pasión incansable por crear sitios web rápidos, escalables y siguiendo las mejores prácticas, Manejo un Stack MERN y estoy constantemente en búsqueda de nuevos conocimientos para mejorar mis habilidades.
		Estoy disponible a nuevas oportunidades laborales en las que pueda demostrar mi talento y dedicación.">
		<meta property="twitter:image" content="https://i.postimg.cc/QxQCnM5q/Screenshot-select-area-20230218010423.png">
		<title>Carlos Reyes Portafolio Web Frontend Developer</title>
	</head>
	<body>
		<wc-toast position="bottom-center"></wc-toast>
		<slot />
	</body>
</html>