---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/layout.astro"

---

<Layout>
    <Header />
    <section class="bg-black">
        <div class="myContainer max-w-[900px] m-auto border border-white">
            <h1 class="text-center text-white text-2xl font-bold">MovieApp</h1>
        </div>
    </section>
</Layout>